header {
  background-color: white;
  padding: 40px;
}

header a{
  color: #575757;
  font-weight: bold;
  font-size: 15px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-inter {
  width: 90px;
  margin-top: 5px;
}

.botao-um-header {
background-color:  #ff8700; 
padding: 15px;
border-radius: 8px;
color: white;
}

.img-brasil {
  margin-top: 18px;
  width: 20px;
  background-color: #dddddd;
  padding: 2px 8px;
  border-radius: 20px;
}

.img-usa {
  width: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

body {
  position: relative;
}

.header-menu li:nth-child(-n + 6)::after {
  background-image: url(/img/icons8-seta-para-recolher-30.png);
  content: "";
  background-size: contain;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translateX(50%);
  top: 62px;
}

.botao-dois-header {
  background-color:  white; 
  border: 1px solid #ff8700;
  padding: 15px;
  border-radius: 8px;
  color: #ff8700;
  }

.link-hover:hover {
  color:#ff8700;
}

.botao-um-header:hover {
  background-color: #ca7009;
}

.botao-dois-header:hover {
  background-color: rgba(240, 240, 240, 0.747);
}

header li {
  display: inline-block;
  margin: 20px;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}